<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BuyMusic</title>
</head>
<body>
    <div> 
        @ViewBag.OperationResult;
    </div>
</body>
</html>
