
@{
    ViewBag.Title = "AdminOptionsMenu";
}

<h2>AdminOptionsMenu</h2>

<li>@Html.ActionLink("Display all users", "DisplayAllUsers", "Admin")</li>
<li>@Html.ActionLink("Display active users", "DisplayActiveUsers", "Admin")</li>
<li>@Html.ActionLink("Display not active users", "DisplayNotActiveUsers", "Admin")</li>